/* .home {
   display: flex;
} */

.home__left {
   position: absolute;
   z-index: 10;
   top: 0;
   left: 0;
   width: 240px;
   overflow: auto;
   overflow-x: hidden;
   max-height: 100vh;
   background-color: #fff;
}

.home__left-logo {
   display: flex;
   justify-content: center;
}

.home__left-logo {
   margin: 20px 0 20px 0;
}

.home__left-order-taxi {
   background-color: #ddd;
}

.home__left-order-taxi-h1 a {
   display: block;
   padding-left: 25px;
   background-repeat: no-repeat;
   font-size: 14px;
   font-weight: bold;
   line-height: 35px;
   padding-top: 15px;
   padding-bottom: 15px;
   text-decoration: none;
   color: #000;
}

.home__left-order-nav ul {
   padding: 0;
}

.home__left-order-nav ul li {
   list-style: none;
}

.home__left-order-nav ul li a:hover {
   color: #0149af;
}

.home__left-order-nav ul li a {
   display: inline-block;
   border: 1px solid transparent;
   border-radius: 4px;
   font-size: 12px;
   line-height: 17px;
   text-decoration: none;
   color: #000;
   width: 180px;
   padding: 5px 10px;
}

.home__left-navbar ul li {
   margin: 10px 3px 10px 3px;
   padding: 0 0 0 10px;
   list-style: none;
   border-radius: 5px;
   height: 80px;
   display: flex;
   align-items: center;
   background-color: #0149af;
}

.home__left-navbar ul {
   padding: 0;
}

.home__left-navbar ul a {
   color: white;
}

.home__left-navbar ul li img {
   margin-right: 5px;
}

.home__left-links ul li {
list-style: none;
}
.home__left-links ul li a{
   color: black;
   cursor: pointer;
   margin: 10px 0 10px 0;
   }

   /* Home right */


   .home__right{
      margin-left: 240px;

   }